<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default " en" }}">
{{- partial "head.html" . -}}

<body>
    <div class="main-wrapper">
        <div class="container px-3 px-lg-5">
            <article class="resume-wrapper mx-auto theme-bg-light p-5 mb-5 my-5 shadow-lg">
                {{- partial "header.html" . -}}
                <hr>
                {{- partial "intro.html" . -}}
                <hr>
                <div class="resume-body">
                    <div class="row">
                        <div class="resume-main col-12 col-lg-8 col-xl-9 pe-0 pe-lg-5">
                            {{- partial "work-expr.html" . -}}
                            {{- partial "project-expr.html" . -}}
                        </div>
                        <aside class="resume-aside col-12 col-lg-4 col-xl-3 px-lg-4 pb-lg-4">
                            {{- partial "skills.html" . -}}
                            {{- partial "languages.html" . -}}
                            {{- partial "certificatons.html" . -}}
                            {{- partial "spoken-langs.html" . -}}
                            {{- partial "interests.html" . -}}
                        </aside>
                    </div>
                </div>
                <hr>
                {{- partial "social.html" . -}}
            </article>
        </div>
        {{- partial "footer.html" . -}}
    </div>
</body>

</html>