{{ if isset $.Site.Params "languages"}}
<section class="skills-section py-3">
    <h3 class="text-uppercase resume-section-heading mb-4">Languages</h3>
    <div class="item">
        {{ if isset $.Site.Params.Languages "proficient"}}
        <h4 class="item-title">Proficient</h4>
        <ul class="list-unstyled resume-skills-list">
            {{ range $.Site.Params.Languages.proficient }}
            <li class="mb-2">{{- . -}}</li>
            {{ end }}
        </ul>
        {{ end }}
    </div>
    <div class="item">
        {{ if isset $.Site.Params.Languages "familiar"}}
        <h4 class="item-title">Familiar</h4>
        <ul class="list-unstyled resume-skills-list">
            {{ range $.Site.Params.Languages.familiar }}
            <li class="mb-2">{{- . -}}</li>
            {{ end }}
        </ul>
        {{ end }}
    </div>
</section>
{{ end }}